@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Common font */

.open-sans-font{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* special design color */

.special-color{
    color: #FD6E0A;
}

.bg-primary{
    background-color: #FFF8F3;
}

.dark-2{
    color: #474747;
    font-size: 20px;
}

.dark-3{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    
}

.dark-1{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}

.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    border: 1px none;
    font-size: 20px;
}

.text-center{
    text-align: center;
}

/* Header section */

.header{
    background-image: url("../images/developer.png") , url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left , right bottom;
}

/* Nav design */

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-logo{
    font-size: 45px;
    font-weight: 800;
}

#nav-bar ul li{
    list-style: none;
}

#nav-bar li a{
    text-decoration: none;
    margin-right: 50px;
}

.nav-list{
    display: flex;
    align-items: center;    
  }

/* Banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}

.banner-info{
    width: 585px;
}

.banner-profile-pic{
    max-width: 584px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

/* main section */

main section{
    max-width: 1140px;
    margin: 130px auto;
}

/* about section */
.about{
    border-radius: 10px;
}

.about-info{
    text-align: center;
    padding: 131px;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-cover{
    font-size: 20px;
}

.item-title{
    font-size: 20px;
    font-weight: bold;

}

.about-block{
    background-color: white;
}

/* My skill section */

.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill-list{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
}
.skill-details{
    padding: 0px 115px;
}

.resume-details{
    display: flex;
    gap: 24px;
}

.my-resume .resume-title{
    text-align: center;
    font-size: 35px;
}

.resume-heading{
    font-size: 25px;
    font-weight: bold;
}

.resume-type{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.resume-description{
    font-size: 16px;
    color: #757575;
}

.cv-button{
    margin-top: 50px;
}

.footer{
    display: flex;
    margin: 0 230px;
    gap: 117px;
}

.footer-column{
    max-width: 50%;
}

footer{
    padding: 100px 0;
}

footer input[type = "text"], footer input[type = "email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.hide{
    display: none;
}

/* Media query */
/* Small device */
@media screen and (max-width: 576px) {
    .about-info{
        padding: 10px;
    }
    
    .about-items, .banner, #nav-bar, .nav-list{
        flex-direction: column;
    }
    .banner-info, .banner-profile-pic, .banner-greeting, .nav-bar{
        width: 100%;
    }

    .nav-list{
        gap: 20px;
        padding: 0px; 
    }
    

    .banner{
        margin: 0 20px;
    }

    .banner-title{
        font-size: 50px;
    }
    .header{
        background-image: none;
    }

   

 .skill-container{
    flex-direction: column;
 }  
 .resume-details {
    flex-direction: column;
 }

 .skill-details{
    padding: 0px 10px;
 }

 .footer{
    flex-direction: column;
    padding: 0 20px;
    margin: 0 0;
 }

 .footer-column{
    max-width: 100%;
 }
 .resume-title{
    width: 100%;
 }
 .footer input[type = "text"], footer input[type = "email"], footer textarea{
    width: calc(100% - 40px);
 }
}